CVS/
.svn/
/.idea/
/bin/
/target/
/build/
/output/
/Debug/
/Release/
/x86/
/x64/
/obj/
/node_modules/
/pkg/
/run/
/log/
/logs/
/test-output/
/reports/
.apt_generated/
package-lock.json
config.gypi
npm-debug.log
.npmrc
__pycache__
packer_cache/
/**/*.log
/**/*.bak
/**/.~*
/**/._*
/**/.cache*
/**/.*.swp
.lock-wscript
.wafpickle-N

# build outputs of Remix-IDE for smart contracts - https://remix-ide.readthedocs.io/en/latest/contract_metadata.html
contracts/**/artifacts/

# don't ignore OpenZeppelin contracts
# !/node_modules/@openzeppelin/
# /node_modules/@openzeppelin/*
# !/node_modules/@openzeppelin/contracts/
# /node_modules/@openzeppelin/contracts/build
# /node_modules/@openzeppelin/contracts/package.json
# /node_modules/@openzeppelin/contracts/**/artifacts
