CVS/
.svn/
/.idea/
/bin/
/target/
/build/
/output/
/Debug/
/Release/
/x86/
/x64/
/obj/
/node_modules/
/pkg/
/run/
/log/
/logs/
/test-output/
/reports/
.apt_generated/
package-lock.json
config.gypi
npm-debug.log
.npmrc
packer_cache/
/**/*.log
/**/*.bak
/**/.~*
/**/._*
/**/.cache*
/**/.*.swp
.lock-wscript
.wafpickle-N